// theme colors
// will change with each project

// primary
$light-red: hsl(15, 100%, 70%);
$soft-blue: hsl(195, 74%, 62%);
$darker-red: hsl(348, 100%, 68%);
$lime-green: hsl(145, 58%, 55%);
$violet: hsl(264, 64%, 52%);
$soft-orange: hsl(43, 84%, 65%);

// neutral

$very-dark-blue: hsl(226, 43%, 10%);
$dark-blue: hsl(235, 46%, 20%);
$desat-blue: hsl(235, 45%, 61%);
$pale-blue: hsl(236, 100%, 87%);

// $box-shadow: 0.3rem 0.3rem 0.8rem rgba($mono-400, 0.3);
// $box-shadow-dark: 0.3rem 0.3rem 0.8rem rgba($mono-400, 0.7);
// $text-shadow: 0.3rem 0.3rem 0.8rem rgba($mono-400, 0.6);

$main-font: 'Rubik', sans-serif;
// $display-font: 'Merienda', cursive;

// $light-beige: hsl(31, 57%, 61%);
// $medium-beige: hsl(30, 57%, 57%);
// $dark-beige: hsl(33, 37%, 32%);
// $blue-150: hsl(210, 43%, 22%);
// $blue-250: hsl(219, 20%, 25%);
